<div class="container-fluid" role="main">

  <!--Change Password Card-->


  <div class="row pt-2  d-flex justify-content-center">
    <div class="col-md-4 pt-2">
      <div class="card bg-secondary shadow text-white">
        <div class="card-header border-0 pt-2">
          <h5 class="card-title">Şifre Değiştir</h5>
        </div>
        <div class="card-body pt-2">
          <form [formGroup]="passwordChangeForm">

            <!--registrationNumber-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="registrationNumber">Sicil:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="registrationNumber" name="userName"
                    formControlName="registrationNumber" placeholder="Sicil giriniz..." required min max>
                  <div
                    *ngIf="passwordChangeForm.get('registrationNumber')?.hasError('required') && passwordChangeForm.get('registrationNumber')?.dirty"
                    class="alert alert-danger">Sicil boş olamaz</div>
                  <div
                    *ngIf="passwordChangeForm.get('registrationNumber')?.hasError('min') && passwordChangeForm.get('registrationNumber')?.dirty"
                    class="alert alert-danger">En az 2 1</div>
                  <div
                    *ngIf="passwordChangeForm.get('registrationNumber')?.hasError('max') && passwordChangeForm.get('registrationNumber')?.dirty"
                    class="alert alert-danger">En fazla 99999</div>
                  <div class="alert alert-danger"
                    *ngIf="passwordChangeForm.get('registrationNumber')?.hasError('pattern') && passwordChangeForm.get('registrationNumber')?.dirty">
                    Rakam olması zorunlu!</div>
                </div>
              </div>
            </div>

            <!--password-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="userOrder">Şifre:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="password" id="password" name="password" formControlName="password"
                    placeholder="Şifre giriniz..." required minlength maxlength>
                  <div
                    *ngIf="passwordChangeForm.get('password')?.hasError('required') && passwordChangeForm.get('password')?.dirty"
                    class="alert alert-danger">Şifre boş olamaz</div>
                  <div
                    *ngIf="passwordChangeForm.get('password')?.hasError('minlength') && passwordChangeForm.get('password')?.dirty"
                    class="alert alert-danger">En az 2 harf olabilir</div>
                  <div
                    *ngIf="passwordChangeForm.get('password')?.hasError('maxlength') && passwordChangeForm.get('password')?.dirty"
                    class="alert alert-danger">En fazla 50 harf olabilir</div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--change password button-->
        <div class="card-footer d-flex justify-content-center pt-2">
          <div class="text-center p-2">
            <input type="button" class="btn btn-success" (click)="passwordChange()"
              [disabled]="!passwordChangeForm.valid" value="Şifre Değiştir">
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
