<div class="container-fluid" role="main">

  <!--Title-->
  <div class="row p-2">
    <div class="col-md-1">
      <i class="fa fa-building fa-2x"></i>
    </div>
    <div class="col-md-11">
      <h5>Rol Tanımlama İşlemleri</h5>
    </div>
  </div>

  <!--search-->
  <div class="card">
    <div class="card-body bg-secondary text-white">
      <form [formGroup]="searchForm">
        <div class="row pt-2">
          <!--filter-->
          <div class="col-md-10">
            <div class="form-group">
              <input class="form-control" type="text" id="filter" name="filter" formControlName="filter"
                placeholder="Rol adı veya tarihi..." required minlength>
              <div *ngIf="searchForm.get('filter')?.hasError('required')&&searchForm.get('filter')?.dirty"
                class="alert alert-danger">Arama ifadesi zorunlu</div>
              <div *ngIf="searchForm.get('filter')?.hasError('minlength')&& searchForm.get('filter')?.dirty"
                class="alert alert-danger">En az iki harf girmek zorundasınız</div>
            </div>
          </div>
          <!--search button-->
          <div class="col-md-1">
            <div class="form-group">
              <input type="button" class="btn btn-warning" id="search" name="search" value="Ara" (click)="search()"
                [ngStyle]="{'display':'Role.Search' | demandPipe}">
            </div>
          </div>
          <!--clear button-->
          <div class="col-md-1">
            <div class="form-group">
              <input type="button" class="btn btn-light" id="clear" name="clear" value="Temizle" (click)="clear()">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--add new -->
  <div class="row pt-2">
    <div class="col-md-1">
      <i class="fa fa-plus-square fa-2x" (click)="openRoleModal()" ngbTooltip="Ekle" style="cursor: pointer;"></i>
    </div>
    <div class="col-md-11"></div>
  </div>

  <!--role table-->
  <div class="row pt-2">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive" name="divSerach" id="divSerach">
          <table class="table table-flush table-striped" id="tblSearch" name="tblSearch">
            <thead>
              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;" (click)="orderDesc('roleName')"></i>Role
                Adı<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;" (click)="orderAsc('roleName')"></i></th>
              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('optime')"></i>Tarih<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;"
                  (click)="orderAsc('optime')"></i></th>
              <th>İşlemler</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let role of roles | paginate: {id:'rolePagination',itemsPerPage:itemsPerPage, currentPage:currentPage}">
                <td>{{role.roleName}}</td>
                <td>{{role.optime | date:"dd.MM.yyyy hh:mm:ss"}} </td>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <i class="fa fa-pencil fa-2x" (click)="openroleModal(role.id)"
                        style="cursor: pointer;color: steelblue;"></i>
                    </div>
                    <div class="col-md-6">
                      <i class="fa fa-trash fa-2x" (click)="openConfirmModal(role.id)"
                        style="cursor: pointer;color:red"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--pagination-->
  <div class="row p-2">
    <div class="col-md-11">
      <pagination-controls id="rolePagination" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    <!--export to excel pdf-->
    <div class="col-md-1 d-flex justify-content-around">
      <i class="fa fa-file-excel-o fa-2x" style="cursor: pointer;color: green;" (click)="exportToExcel()"
        [ngStyle]="{'display':'Role.Search' | demandPipe}"></i>
      <i class="fa  fa-file-pdf-o fa-2x" style="cursor: pointer;color:red" (click)="exportToPdf()"
        [ngStyle]="{'display':'Role.Search' | demandPipe}"></i>
    </div>
  </div>

  <!--roleModal--->
  <div class="modal" role="dialog" tabindex="-1" [ngStyle]="{'display':displayRoleModal}">
    <div class="modal-dialog modal-lg" role="dialog">
      <div class="modal-content bg-secondary text-white">
        <!--Header-->
        <div class="modal-header">
          <h4 class="modal-title">Role Ekle & Düzelt</h4>
          <i class="fa fa-window-close fa-2x" (click)="closeRoleModal()"></i>
        </div>
        <!--body-->
        <div class="modal-body">
          <form [formGroup]="roleForm">
            <!--id-->
            <div style="display: none;" class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="id">Id:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="id" name="id" formControlName="id"
                    placeholder="id giriniz">
                </div>
              </div>
            </div>
            <!--roleName-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="roleName">Role Adı:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="roleName" name="roleName" formControlName="roleName"
                    placeholder="Role Adı giriniz..." required minlength maxlength>
                  <div *ngIf="roleForm.get('roleName')?.hasError('required') && roleForm.get('roleName')?.dirty"
                    class="alert alert-danger">Role Adı boş olamaz</div>
                  <div *ngIf="roleForm.get('roleName')?.hasError('minlength') && roleForm.get('roleName')?.dirty"
                    class="alert alert-danger">En az 2 harf olabilir</div>
                  <div *ngIf="roleForm.get('roleName')?.hasError('maxlength') && roleForm.get('roleName')?.dirty"
                    class="alert alert-danger">En fazla 50 harf olabilir</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--footer-->
        <div class="modal-footer d-flex justify-content-center">
          <input type="button" class="btn btn-success" (click)="save()" value="Kaydet" [disabled]="!roleForm.valid"
            [ngStyle]="{'display':'Role.Add' | demandPipe}" [ngStyle]="{'display':'Role.Update' | demandPipe}">
        </div>
      </div>
    </div>
  </div>

  <!--confirm modal-->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayConfirmModal}">
    <div class="modal-dialog" role="dialog">
      <div class="modal-content bg-secondary text-white">
        <div class="modal-header">
          <h4 class="modal-title">Rol Silme Onay</h4>
          <i class="fa fa-window-close fa-2x" (click)="closeConfirmModal()"></i>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body bg-secondary text-white">
              <div class="row">
                <div class="col-md-12">
                  <h5>
                    Silmek İstediğinizden Emin misiniz?
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-secondary text-white justify-content-center">
          <div class="row">
            <div class="col-md-6">
              <Input type="button" class="btn btn-success" (click)="deleteFromConfirm()" style="cursor: pointer;"
                [ngStyle]="{'display':'Role.Delete' | demandPipe}" value="Evet">
            </div>
            <div class="col-md-6">
              <Input type="button" class="btn btn-danger" (click)="closeConfirmModal()" style="cursor: pointer;"
                value="Hayır">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
