<div class="container-fluid" role="main">

  <!--Title-->
  <div class="row p-2">
    <div class="col-md-1">
      <i class="fa fa-building fa-2x"></i>
    </div>
    <div class="col-md-11">
      <h5>Olay Tanımlama İşlemleri</h5>
    </div>
  </div>

  <!--search-->
  <div class="card">
    <div class="card-body bg-secondary text-white">
      <form [formGroup]="searchForm">
        <div class="row pt-2">
          <!--filter-->
          <div class="col-md-10">
            <div class="form-group">
              <input class="form-control" type="text" id="filter" name="filter" formControlName="filter"
                placeholder="Olay bölgesi veya tarihi..." required minlength>
              <div *ngIf="searchForm.get('filter')?.hasError('required')&&searchForm.get('filter')?.dirty"
                class="alert alert-danger">Arama ifadesi zorunlu</div>
              <div *ngIf="searchForm.get('filter')?.hasError('minlength')&& searchForm.get('filter')?.dirty"
                class="alert alert-danger">En az iki harf girmek zorundasınız</div>
            </div>
          </div>

          <!--search button-->
          <div class="col-md-1">
            <div class="form-group">
              <input type="button" class="btn btn-warning" id="search" name="search" value="Ara" (click)="search()"
                [ngStyle]="{'display':'Event.Search' | demandPipe}">
            </div>
          </div>

          <!--clear button-->
          <div class="col-md-1">
            <div class="form-group">
              <input type="button" class="btn btn-light" id="clear" name="clear" value="Temizle" (click)="clear()">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--add new -->
  <div class="row pt-2">
    <div class="col-md-1">
      <i class="fa fa-plus-square fa-2x" (click)="openEventModal()" ngbTooltip="Ekle" style="cursor: pointer;"></i>
    </div>
    <div class="col-md-11"></div>
  </div>

  <!--event table-->
  <div class="row pt-2">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive" name="divSerach" id="divSerach">
          <table class="table table-flush table-striped" id="tblSearch" name="tblSearch">

            <thead>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;" (click)="orderDesc('tNumber')"></i>T
                Numara<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;" (click)="orderAsc('tNumber')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('localId')"></i>Bölge<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;"
                  (click)="orderAsc('localId')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;" (click)="orderDesc('iPara')"></i>I
                Param<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;" (click)="orderAsc('iPara')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;" (click)="orderDesc('fPara')"></i>F
                Param<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;" (click)="orderAsc('fPara')"></i>
              </th>

              <th>İşlemler</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let event of events | paginate: {id:'eventPagination',itemsPerPage:itemsPerPage, currentPage:currentPage}">
                <td>{{event.tNumber}}</td>
                <td>{{event.localId}}</td>
                <td>{{event.tType}}</td>
                <td>{{event.iPara}}</td>
                <td>{{event.fPara}}</td>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <i class="fa fa-pencil fa-2x" (click)="openEventModal(event.id)"
                        style="cursor: pointer;color: steelblue;"></i>
                    </div>
                    <div class="col-md-6">
                      <i class="fa fa-trash fa-2x" (click)="openConfirmModal(event.id)"
                        style="cursor: pointer;color:red"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--pagination-->
  <div class="row p-2">
    <div class="col-md-11">
      <pagination-controls id="eventPagination" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    <!--export to excel pdf-->
    <div class="col-md-1 d-flex justify-content-around">
      <i class="fa fa-file-excel-o fa-2x" style="cursor: pointer;color: green;" (click)="exportToExcel()"
        [ngStyle]="{'display':'Event.Search' | demandPipe}"></i>
      <i class="fa  fa-file-pdf-o fa-2x" style="cursor: pointer;color:red" (click)="exportToPdf()"
        [ngStyle]="{'display':'Event.Search' | demandPipe}"></i>
    </div>
  </div>

  <!--eventModal--->
  <div class="modal" event="dialog" tabindex="-1" [ngStyle]="{'display':displayEventModal}">
    <div class="modal-dialog modal-lg" event="dialog">
      <div class="modal-content bg-secondary text-white">
        <!--Header-->
        <div class="modal-header">
          <h4 class="modal-title">Alaşım Tanımlama Ekle & Düzelt</h4>
          <i class="fa fa-window-close fa-2x" (click)="closeEventModal()"></i>
        </div>
        <!--body-->
        <div class="modal-body">
          <form [formGroup]="eventForm">
            <!--id-->
            <div style="display: none;" class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="id">Id:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="id" name="id" formControlName="id"
                    placeholder="id giriniz">
                </div>
              </div>
            </div>

            <!--tNumber-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="tNumber">T Numara:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="number" id="tNumber" name="tNumber" formControlName="tNumber"
                    placeholder="T Numara giriniz..." required min max>
                  <div *ngIf="eventForm.get('tNumber')?.hasError('required') && eventForm.get('tNumber')?.dirty"
                    class="alert alert-danger">T Numara boş olamaz</div>
                  <div *ngIf="eventForm.get('tNumber')?.hasError('min') && eventForm.get('tNumber')?.dirty"
                    class="alert alert-danger">En az 0 olabilir</div>
                  <div *ngIf="eventForm.get('tNumber')?.hasError('max') && eventForm.get('tNumber')?.dirty"
                    class="alert alert-danger">Çok Büyük Sayı</div>
                </div>
              </div>
            </div>

            <!--localId-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="localId">Bölge:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="localId" name="localId" formControlName="localId"
                    placeholder="Bölge giriniz..." required minlength maxlength>
                  <div *ngIf="eventForm.get('localId')?.hasError('required') && eventForm.get('localId')?.dirty"
                    class="alert alert-danger">Bölge boş olamaz</div>
                  <div *ngIf="eventForm.get('localId')?.hasError('minlength') && eventForm.get('localId')?.dirty"
                    class="alert alert-danger">En az 2 harf olabilir</div>
                  <div *ngIf="eventForm.get('localId')?.hasError('maxlength') && eventForm.get('localId')?.dirty"
                    class="alert alert-danger">En fazla 20 harf olabilir</div>
                </div>
              </div>
            </div>

            <!--tType-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="tType">T Tip:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="number" id="tType" name="tType" formControlName="tType"
                    placeholder="T Tip giriniz..." required min max>
                  <div *ngIf="eventForm.get('tType')?.hasError('required') && eventForm.get('tType')?.dirty"
                    class="alert alert-danger">T Tip boş olamaz</div>
                  <div *ngIf="eventForm.get('tType')?.hasError('min') && eventForm.get('tType')?.dirty"
                    class="alert alert-danger">En az 0 olabilir</div>
                  <div *ngIf="eventForm.get('tType')?.hasError('max') && eventForm.get('tType')?.dirty"
                    class="alert alert-danger">Çok Büyük Sayı</div>
                </div>
              </div>
            </div>

            <!--iPara-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="tNumber">I Parametre:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="number" id="iPara" name="iPara" formControlName="iPara"
                    placeholder="T Parametre giriniz..." required min max>
                  <div *ngIf="eventForm.get('iPara')?.hasError('required') && eventForm.get('iPara')?.dirty"
                    class="alert alert-danger">Değer boş olamaz</div>
                  <div *ngIf="eventForm.get('iPara')?.hasError('min') && eventForm.get('iPara')?.dirty"
                    class="alert alert-danger">En az 0 olabilir</div>
                  <div *ngIf="eventForm.get('iPara')?.hasError('max') && eventForm.get('iPara')?.dirty"
                    class="alert alert-danger">Çok Büyük Sayı</div>
                </div>
              </div>
            </div>

            <!--fPara-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="fPara">F Parametre:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="number" id="fPara" name="fPara" formControlName="fPara"
                    placeholder="F Parametre giriniz..." required min max>
                  <div *ngIf="eventForm.get('fPara')?.hasError('required') && eventForm.get('fPara')?.dirty"
                    class="alert alert-danger">Değer boş olamaz</div>
                  <div *ngIf="eventForm.get('fPara')?.hasError('min') && eventForm.get('fPara')?.dirty"
                    class="alert alert-danger">En az 0 olabilir</div>
                  <div *ngIf="eventForm.get('fPara')?.hasError('max') && eventForm.get('fPara')?.dirty"
                    class="alert alert-danger">Çok Büyük Sayı</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--footer-->
        <div class="modal-footer d-flex justify-content-center">
          <input type="button" class="btn btn-success" (click)="save()" value="Kaydet" [disabled]="!eventForm.valid"
            [ngStyle]="{'display':'Event.Add' | demandPipe}" [ngStyle]="{'display':'Event.Update' | demandPipe}">
        </div>
      </div>
    </div>
  </div>

  <!--confirm modal-->
  <div class="modal" tabindex="-1" event="dialog" [ngStyle]="{'display':displayConfirmModal}">
    <div class="modal-dialog" event="dialog">
      <div class="modal-content bg-secondary text-white">
        <div class="modal-header">
          <h4 class="modal-title">Olay Silme Onay</h4>
          <i class="fa fa-window-close fa-2x" (click)="closeConfirmModal()"></i>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body bg-secondary text-white">
              <div class="row">
                <div class="col-md-12">
                  <h5>
                    Silmek İstediğinizden Emin misiniz?
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-secondary text-white justify-content-center">
          <div class="row">
            <div class="col-md-6">
              <Input type="button" class="btn btn-success" (click)="deleteFromConfirm()" style="cursor: pointer;"
                [ngStyle]="{'display':'Event.Delete' | demandPipe}" value="Evet">
            </div>
            <div class="col-md-6">
              <Input type="button" class="btn btn-danger" (click)="closeConfirmModal()" style="cursor: pointer;"
                value="Hayır">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
