<div class="container-fluid" role="main">

  <!--Title-->
  <div class="row p-2">
    <div class="col-md-1">
      <i class="fa fa-building fa-2x"></i>
    </div>
    <div class="col-md-11">
      <h5>İletişim Rulosu Tanımlama İşlemleri</h5>
    </div>
  </div>

  <!--search-->
  <div class="card">
    <div class="card-body bg-secondary text-white">
      <form [formGroup]="searchForm">
        <div class="row pt-2">
          <!--filter-->
          <div class="col-md-10">
            <div class="form-group">
              <input class="form-control" type="text" id="filter" name="filter" formControlName="filter"
                placeholder="İletişim Rulo adı, numarası, çapı, grubu veya tarihi..." required minlength>
              <div *ngIf="searchForm.get('filter')?.hasError('required')&&searchForm.get('filter')?.dirty"
                class="alert alert-danger">Arama ifadesi zorunlu</div>
              <div *ngIf="searchForm.get('filter')?.hasError('minlength')&& searchForm.get('filter')?.dirty"
                class="alert alert-danger">En az iki harf girmek zorundasınız</div>
            </div>
          </div>
          <!--search button-->
          <div class="col-md-1">
            <div class="form-group">
              <input type="button" class="btn btn-warning" id="search" name="search" value="Ara" (click)="search()"
                [ngStyle]="{'display':'ContactRoll.Search' | demandPipe}">
            </div>
          </div>
          <!--clear button-->
          <div class="col-md-1">
            <div class="form-group">
              <input type="button" class="btn btn-light" id="clear" name="clear" value="Temizle" (click)="clear()">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--add new -->
  <div class="row pt-2">
    <div class="col-md-1">
      <i class="fa fa-plus-square fa-2x" (click)="opencontactRollModal()" ngbTooltip="Ekle"
        style="cursor: pointer;"></i>
    </div>
    <div class="col-md-11"></div>
  </div>

  <!--contactRoll table-->
  <div class="row pt-2">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive" name="divSerach" id="divSerach">
          <table class="table table-flush table-striped" id="tblSearch" name="tblSearch">
            <thead>
              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('rollNumber')"></i>Numara<i class="fa fa-arrow-circle-o-up"
                  style="cursor: pointer;" (click)="orderAsc('rollNumber')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('rollDiameter')"></i>Çapı<i class="fa fa-arrow-circle-o-up"
                  style="cursor: pointer;" (click)="orderAsc('rollDiameter')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('groupName')"></i>Grup<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;"
                  (click)="orderAsc('groupName')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('rollName')"></i>Adı<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;"
                  (click)="orderAsc('rollName')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('hardness')"></i>Sertlik
                <i class="fa fa-arrow-circle-o-up" style="cursor: pointer;" (click)="orderAsc('hardness')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('roughness')"></i>Pürüzlülük<i class="fa fa-arrow-circle-o-up"
                  style="cursor: pointer;" (click)="orderAsc('roughness')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('status')"></i>Durum<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;"
                  (click)="orderAsc('status')"></i>
              </th>

              <th><i class="fa fa-arrow-circle-o-down" style="cursor: pointer;"
                  (click)="orderDesc('location')"></i>Bölge<i class="fa fa-arrow-circle-o-up" style="cursor: pointer;"
                  (click)="orderAsc('location')"></i>
              </th>

              <th>İşlemler</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let contactRoll of contactRolls | paginate: {id:'contactRollPagination',itemsPerPage:itemsPerPage, currentPage:currentPage}">
                <td>{{contactRoll.rollNumber}}</td>
                <td>{{contactRoll.rollDiameter}}</td>
                <td>{{contactRoll.groupName}}</td>
                <td>{{contactRoll.rollName}}</td>
                <td>{{contactRoll.hardness}}</td>
                <td>{{contactRoll.roughness}}</td>
                <td>{{contactRoll.status}}</td>
                <td>{{contactRoll.location}}</td>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <i class="fa fa-pencil fa-2x" (click)="opencontactRollModal(contactRoll.id)"
                        style="cursor: pointer;color: steelblue;"></i>
                    </div>
                    <div class="col-md-6">
                      <i class="fa fa-trash fa-2x" (click)="openConfirmModal(contactRoll.id)"
                        style="cursor: pointer;color:red"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--pagination-->
  <div class="row p-2">
    <div class="col-md-11">
      <pagination-controls id="contactRollPagination" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    <!--export to excel pdf-->
    <div class="col-md-1 d-flex justify-content-around">
      <i class="fa fa-file-excel-o fa-2x" style="cursor: pointer;color: green;" (click)="exportToExcel()"
        [ngStyle]="{'display':'ContactRoll.Search' | demandPipe}"></i>
      <i class="fa  fa-file-pdf-o fa-2x" style="cursor: pointer;color:red" (click)="exportToPdf()"
        [ngStyle]="{'display':'ContactRoll.Search' | demandPipe}"></i>
    </div>
  </div>

  <!--contactRollModal--->
  <div class="modal" contactRoll="dialog" tabindex="-1" [ngStyle]="{'display':displayContactRollModal}">
    <div class="modal-dialog modal-lg" contactRoll="dialog">
      <div class="modal-content bg-secondary text-white">
        <!--Header-->
        <div class="modal-header">
          <h4 class="modal-title">İletişim Rulosu Ekle & Düzelt</h4>
          <i class="fa fa-window-close fa-2x" (click)="closecontactRollModal()"></i>
        </div>
        <!--body-->
        <div class="modal-body">
          <form [formGroup]="contactRollForm">
            <!--id-->
            <div style="display: none;" class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="id">Id:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="id" name="id" formControlName="id"
                    placeholder="id giriniz">
                </div>
              </div>
            </div>
            <!--rollNumber-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="rollNumber">Rulo Numarası:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="rollNumber" name="rollNumber" formControlName="rollNumber"
                    placeholder="Rulo Numarası giriniz..." required minlength maxlength>
                  <div
                    *ngIf="contactRollForm.get('rollNumber')?.hasError('required') && contactRollForm.get('rollNumber')?.dirty"
                    class="alert alert-danger">Rulo Numarası boş olamaz</div>
                  <div
                    *ngIf="contactRollForm.get('rollNumber')?.hasError('minlength') && contactRollForm.get('rollNumber')?.dirty"
                    class="alert alert-danger">En az 2 harf olabilir</div>
                  <div
                    *ngIf="contactRollForm.get('rollNumber')?.hasError('maxlength') && contactRollForm.get('rollNumber')?.dirty"
                    class="alert alert-danger">En fazla 50 harf olabilir</div>
                </div>
              </div>
            </div>

            <!--rollDiameter-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="rollDiameter">Rulo Çapı:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="number" id="rollDiameter" name="rollDiameter"
                    formControlName="rollDiameter" placeholder="Rulo Çapı giriniz..." required min max>
                  <div
                    *ngIf="contactRollForm.get('rollDiameter')?.hasError('required') && contactRollForm.get('rollDiameter')?.dirty"
                    class="alert alert-danger">Rulo Çapı boş olamaz</div>
                  <div
                    *ngIf="contactRollForm.get('rollDiameter')?.hasError('min') && contactRollForm.get('rollDiameter')?.dirty"
                    class="alert alert-danger">En az 0 olabilir</div>
                  <div
                    *ngIf="contactRollForm.get('rollDiameter')?.hasError('max') && contactRollForm.get('rollDiameter')?.dirty"
                    class="alert alert-danger">Çok Büyük Sayı</div>
                </div>
              </div>
            </div>

            <!--groupName-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="groupName">Grup Adı:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="groupName" name="groupName" formControlName="groupName"
                    placeholder="Grup Adı giriniz..." required minlength maxlength>
                  <div
                    *ngIf="contactRollForm.get('groupName')?.hasError('required') && contactRollForm.get('groupName')?.dirty"
                    class="alert alert-danger">Grup Adı boş olamaz</div>
                  <div
                    *ngIf="contactRollForm.get('groupName')?.hasError('minlength') && contactRollForm.get('groupName')?.dirty"
                    class="alert alert-danger">En az 2 harf olabilir</div>
                  <div
                    *ngIf="contactRollForm.get('groupName')?.hasError('maxlength') && contactRollForm.get('groupName')?.dirty"
                    class="alert alert-danger">En fazla 60 harf olabilir</div>
                </div>
              </div>
            </div>


            <!--rollName-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="rollName">Rulo Adı:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="rollName" name="rollName" formControlName="rollName"
                    placeholder="Rulo Adı giriniz..." required minlength maxlength>
                  <div
                    *ngIf="contactRollForm.get('rollName')?.hasError('required') && contactRollForm.get('rollName')?.dirty"
                    class="alert alert-danger">Rulo Adı boş olamaz</div>
                  <div
                    *ngIf="contactRollForm.get('rollName')?.hasError('minlength') && contactRollForm.get('rollName')?.dirty"
                    class="alert alert-danger">En az 2 harf olabilir</div>
                  <div
                    *ngIf="contactRollForm.get('rollName')?.hasError('maxlength') && contactRollForm.get('rollName')?.dirty"
                    class="alert alert-danger">En fazla 60 harf olabilir</div>
                </div>
              </div>
            </div>

            <!--hardness-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="hardness">Sertlik:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="number" id="hardness" name="hardness" formControlName="hardness"
                    placeholder="Sertlik giriniz..." required min max>
                  <div
                    *ngIf="contactRollForm.get('hardness')?.hasError('required') && contactRollForm.get('hardness')?.dirty"
                    class="alert alert-danger">Sertlik boş olamaz</div>
                  <div
                    *ngIf="contactRollForm.get('hardness')?.hasError('min') && contactRollForm.get('hardness')?.dirty"
                    class="alert alert-danger">En az 0 olabilir</div>
                  <div
                    *ngIf="contactRollForm.get('hardness')?.hasError('max') && contactRollForm.get('hardness')?.dirty"
                    class="alert alert-danger">Çok Büyük Sayı</div>
                </div>
              </div>
            </div>

            <!--roughness-->
            <div class="form-group">
              <div class="row pt-4">
                <div class="col-md-2">
                  <label class="form-label" for="roughness">Pürüzsüzlük:</label>
                </div>
                <div class="col-md-10">
                  <input class="form-control" type="text" id="roughness" name="roughness" formControlName="roughness"
                    placeholder="Pürüzlülük giriniz..." required minlength maxlength>
                  <div
                    *ngIf="contactRollForm.get('roughness')?.hasError('required') && contactRollForm.get('roughness')?.dirty"
                    class="alert alert-danger">Pürüzsüzlük boş olamaz</div>
                  <div
                    *ngIf="contactRollForm.get('roughness')?.hasError('minlength') && contactRollForm.get('roughness')?.dirty"
                    class="alert alert-danger">En az 2 harf olabilir</div>
                  <div
                    *ngIf="contactRollForm.get('roughness')?.hasError('maxlength') && contactRollForm.get('roughness')?.dirty"
                    class="alert alert-danger">En fazla 50 harf olabilir</div>
                </div>
              </div>
            </div>

            <!--status-->
            <div class="form-group pt-4">
              <div class="row">
                <div class="col-md-2">
                  <label for="status" class="col-form-label">Durum :</label>
                </div>
                <div class="col-md-10">
                  <select class="form-select" [(ngModel)]="statusDefault" formControlName="status" id="status"
                    name="status" required style="cursor: pointer;">
                    <option value="" selected disabled>Durum Seçiniz</option>
                    <option value="1">Serbest</option>
                    <option value="2">Kullanılmış</option>
                  </select>
                </div>
              </div>
            </div>

            <!--location-->
            <div class="form-group pt-4">
              <div class="row">
                <div class="col-md-2">
                  <label for="location" class="col-form-label">Bölge :</label>
                </div>
                <div class="col-md-10">
                  <select class="form-select" [(ngModel)]="locationDefault" formControlName="location" id="location"
                    name="location" required style="cursor: pointer;">
                    <option value="" selected disabled>Bölge Seçiniz</option>
                    <option value="1">Sarıcı</option>
                    <option value="2">Açıcı</option>
                    <option value="3">Semer</option>
                    <option value="4">Sarıcı Bir</option>
                    <option value="5">Sarıcı İki</option>
                  </select>
                </div>
              </div>
            </div>

          </form>
        </div>
        <!--footer-->
        <div class="modal-footer d-flex justify-content-center">
          <input type="button" class="btn btn-success" (click)="save()" value="Kaydet"
            [disabled]="!contactRollForm.valid" [ngStyle]="{'display':'ContactRoll.Add' | demandPipe}"
            [ngStyle]="{'display':'ContactRoll.Update' | demandPipe}">
        </div>
      </div>
    </div>
  </div>

  <!--confirm modal-->
  <div class="modal" tabindex="-1" contactRoll="dialog" [ngStyle]="{'display':displayConfirmModal}">
    <div class="modal-dialog" contactRoll="dialog">
      <div class="modal-content bg-secondary text-white">
        <div class="modal-header">
          <h4 class="modal-title">Rol Silme Onay</h4>
          <i class="fa fa-window-close fa-2x" (click)="closeConfirmModal()"></i>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body bg-secondary text-white">
              <div class="row">
                <div class="col-md-12">
                  <h5>
                    Silmek İstediğinizden Emin misiniz?
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-secondary text-white justify-content-center">
          <div class="row">
            <div class="col-md-6">
              <Input type="button" class="btn btn-success" (click)="deleteFromConfirm()" style="cursor: pointer;"
                [ngStyle]="{'display':'ContactRoll.Delete' | demandPipe}" value="Evet">
            </div>
            <div class="col-md-6">
              <Input type="button" class="btn btn-danger" (click)="closeConfirmModal()" style="cursor: pointer;"
                value="Hayır">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
