 <!--Title-->
 <div class="row p-2">
  <div class="col-md-1">
    <i class="fa fa-user-circle fa-2x"></i>
  </div>
  <div class="col-md-11">
    <h5>Kullanıcı Profili</h5>
  </div>
</div>

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 400px; background-image: url(../assets/img/brand/asas.png); background-size:cover; background-position: center top;background-color:gray;">
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row pt-2">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Merhaba {{firstName}} </h1>
        <p class="text-white mt-0 mb-5">Bu senin profil sayfan. Çalışmanızda kaydettiğiniz ilerlemeyi görebilir ve
          projelerinizi veya atanan görevleri yönetebilirsiniz.</p>
      </div>
    </div>
  </div>
</div>
<div class="row pt-2">
  <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
  <!-- Card with profile photo and registration number -->
    <div class="card pt-2 card-profile shadow bg-secondary text-white">
      <div class="row pt-2 justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            <i class="fa fa-user-circle fa-5x"></i>
          </div>
        </div>
      </div>
      <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4  pt-2 ">
        <div class="d-flex justify-content-between">
        </div>
      </div>
      <div class="card-body pt-2 pt-md-4">
        <div class="row pt-2">
          <div class="col">
            <div class="card-profile-stats d-flex justify-content-center mt-md-5 pt-2">

            </div>
          </div>
        </div>
        <div class="text-center">
          <h3>
            {{registrationNumber}}test
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 order-xl-1">
    <!--Account Details-->
    <div class="card bg-secondary shadow text-white pt-2">
      <div class="card-header border-0 pt-2">
        <div class="row pt-2 align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Hesabım</h3>
          </div>
        </div>
      </div>
      <div class="card-body pt-2">
        <form>
          <h6 class="heading-small mb-4">Kullanıcı Bilgisi</h6>
          <div class="pl-lg-4">
            <div class="row pt-2">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="firstName">Kullanıcı Adı</label>
                  <input type="text" id="firstName" class="form-control form-control-alternative"
                    placeholder="Username" value="{{firstName}} {{lastName}}" readonly>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="registrationNumber">Sicil</label>
                  <input type="text" id="registrationNumber" class="form-control form-control-alternative"
                    placeholder="{{registrationNumber}}" readonly>
                </div>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="firstName">Ad</label>
                  <input type="text" id="firstName" class="form-control form-control-alternative" placeholder="Ad"
                    value="{{firstName}}" readonly>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="lastName">Soyad</label>
                  <input type="text" id="lastName" class="form-control form-control-alternative" placeholder="Soyad"
                    value="{{lastName}}" readonly>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
